@use '../abstracts/variables' as var;

#hero {
  background-image: url(../img/BANNIERE.jpg);
  color: var.$white;
  font-family: "Lato Regular";
  padding: 60px 0;
  height: 50vh;

  .container {
    display:flex; 
    justify-content: left;
    height: 100%;
    align-items: center;

    h1 {
      font-size: 3rem;
      span {
        color: var.$couleur-secondaire
      } 
    } 
  }
}

