@use '../base/utils' as uti;
@use '../abstracts/mixins' as mix;
@use '../abstracts/variables' as var;

#realisation {
    padding: 5% 0;
    color: var.$couleur-principale;
    font-family: var.$police-principale;
    .container {
        text-align: center;
        h2 {
            font-size: 2rem;
        }
        p {
            font-size: 1.5rem;
        }
        .cards {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            justify-content: space-evenly;
            .card {
                width: 32%;
                margin-bottom: 2%;
                .card-img {
                    max-height: 100%;
                }
                .card-text > * {
                    margin: 5%;
                    h3 {
                        padding: 5% 0;
                    }
                }
            }
        }
    }
}