@use '../base/utils' as uti;
@use '../abstracts/mixins' as mix;
@use '../abstracts/variables' as var;

#realisation {
    padding: 5% 0;
    .container {
        text-align: center;
        h2 {
            font-size: 2rem;
        }
        p {
            font-size: 1.5rem;
        }
        .cards {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            .card {
                width: 30%;
                margin-bottom: 5%;
                .card-img {
                    max-height: 100%;
                }
                .card-text > * {
                    margin: 1%;
                }
            }
        }
    }
}