@font-face {
  font-family: "Lato Regular";
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato Bold";
  src: url(../fonts/Lato-Bold.ttf);
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato Regular", sans-serif;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

.btn {
  border-radius: 1rem;
  background-color: #112E3E;
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  padding: 2%;
  width: 30vh;
}
.btn--secondary {
  border-radius: 1rem;
  background-color: #FFFFFF;
  color: #112E3E;
  text-align: center;
  display: inline-block;
  padding: 2%;
  width: 30vh;
}
.btn--tertiary {
  border-radius: 1rem;
  background-color: #FFFFFF;
  color: #112E3E;
  text-align: center;
  display: inline-block;
  padding: 2%;
  width: 30vh;
}
.btn--outline {
  border-radius: 1rem;
  background-color: #FFFFFF;
  color: #112E3E;
  text-align: center;
  display: inline-block;
  padding: 2%;
  width: 30vh;
}
.btn--random {
  border-radius: 1rem;
  background-color: #FFFFFF;
  color: #112E3E;
  text-align: center;
  display: inline-block;
  padding: 2%;
  width: 30vh;
}

header {
  background-color: #112E3E;
}
header .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25%;
  padding: 2.5% 0;
}
header .nav .nav-text {
  display: flex;
  gap: 10%;
}
header .nav .nav-text li a {
  color: #FFFFFF;
  font-size: 1.5rem;
}
header .nav .nav-text li:after {
  content: "";
  border-left: 2px solid #FFFFFF;
  margin-left: 2em;
}

#hero {
  background-image: url(../img/BANNIERE.jpg);
  color: #FFFFFF;
  padding: 60px 0;
  height: 50vh;
}
#hero .container {
  display: flex;
  justify-content: left;
  height: 100%;
  align-items: center;
}
#hero .container h1 {
  font-size: 3rem;
}
#hero .container h1 span {
  color: #EFD75E;
}

#nouscontacter .container {
  color: #112E3E;
  text-align: center;
}
#nouscontacter .container h2 {
  font-size: 2.5rem;
}
#nouscontacter .container p {
  font-size: 1.5rem;
}
#nouscontacter .container .cards {
  display: flex;
  justify-content: center;
  gap: 3%;
  margin: 10% 0;
}
#nouscontacter .container .cards .card {
  width: 30%;
}
#nouscontacter .container .cards .card h2 {
  font-size: 1.5rem;
}
#nouscontacter .container .cards .card p {
  font-size: 1rem;
  margin: 10px;
}
#nouscontacter .container .cards .card a {
  color: #112E3E;
}

#realisation {
  padding: 5% 0;
  color: #112E3E;
}
#realisation .container {
  text-align: center;
}
#realisation .container h2 {
  font-size: 2rem;
}
#realisation .container p {
  font-size: 1.5rem;
}
#realisation .container .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
#realisation .container .cards .card {
  width: 30%;
  margin-bottom: 5%;
}
#realisation .container .cards .card .card-img {
  max-height: 100%;
}
#realisation .container .cards .card .card-text > * {
  margin: 1%;
}

#renov .container {
  text-align: center;
  color: #112E3E;
}
#renov .container .renovtop h2 {
  font-size: 3rem;
}
#renov .container .renovtop h3 {
  font-weight: 400;
  padding-bottom: 2%;
}
#renov .container .renovtop p {
  margin-bottom: 5%;
}
#renov .container .renovtop p span {
  font-weight: bold;
}
#renov .container .card {
  display: flex;
  margin-bottom: 5%;
  gap: 5%;
}
#renov .container .card .card-devis {
  width: 33%;
}
#renov .container .card .card-renovamenagement {
  width: 33%;
}
#renov .container .card .card-conseil {
  width: 33%;
}
#renov .container .btn {
  padding: 2%;
}

/*# sourceMappingURL=styles.css.map */
